.body-overlay {
  background-image: url("../../assets/Assets/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 2rem 0rem 4rem;
  justify-content: space-between;
}
.logo {
  /* position: absolute; */

  position: -webkit-sticky;
}
.logo img {
  max-height: 200px;
  max-width: 250px;
}
.logo svg {
  padding: 5px;
  font-size: 40px;
}
.logo svg:hover {
  cursor: pointer;
  color: rgb(188, 129, 196);
}
@media (max-width: 768px) {
  .container {
    flex-direction: row; /* Stack items vertically */
    align-items: left; /* Center align items */
    padding: 0px;
  }

  .logo img {
    max-height: 150px;
    max-width: 200px;
  }

  .logo svg {
    font-size: 30px;
  }
}

/* For small screens (mobile, 480px and smaller) */
@media (max-width: 480px) {
  .container {
    padding: 1rem; /* Reduce padding for mobile screens */
  }

  .logo img {
    max-height: 70px; /* Reduce image size for small screens */
    max-width: 90px;
    padding: 0 !important; /* Remove additional padding */
  }

  .logo svg {
    font-size: 20px; /* Reduce the size of icons */
  }
}
.header-items {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 1rem 6rem 1rem 1rem;
  gap: 45px;
  /* flex-wrap: wrap; */
}
.header-items a {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.header-items a:hover {
  color: rgb(53, 10, 53);
  transform: scaleX(1.1);
}
@media (max-width: 768px) {
  .header-items {
    flex-direction: row; /* Stack items horizontally on smaller screens */
    align-items: center;
    padding: 1rem; /* Adjust padding */
    gap: 5px;
  }

  .header-items a {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .header-items {
    padding: 0.5rem;
    gap: 15px;
  }

  .header-items a {
    font-size: 20px;
  }
}
/*Home*/
.home {
  align-items: center;
}
.home-container {
  position: relative;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
}
.home-container h1 {
  font-size: 10rem;
  font-family: sans-serif;
  text-align: center;
}
@media (max-width: 768px) {
  .home-container h1 {
    font-size: 6rem;
  }
}
@media (max-width: 480px) {
  .home-container h1 {
    font-size: 3rem;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
}
.home-container .buttons .btn {
  background-color: rgb(156, 73, 189);
  padding: 1.5rem;
  max-width: 400px;
  width: 400px;
  font-size: 25px;
  border-radius: 20px;
  color: white;
}
.home-container .buttons .btn svg {
  padding: 0px 30px 0px 5px;
  font-size: 28px;
}
.home-container .buttons :hover {
  cursor: pointer;
  transform: scaleX(1.1);
}
